@font-face {
    font-family: "yanone";
    src:url("../../fonts/yanone.ttf");
  }
  
  @font-face {
    font-family: "finger";
    src:url("../../fonts/finger.ttf");
  }
  
  @font-face {
    font-family: "jellies";
    src:url("../../fonts/jellies.ttf");
  }
  
  @font-face {
    font-family: "Prisma";
    src:url("../../fonts/Prisma.ttf");
  }
  @font-face {
    font-family: "Prismas";
    src:url("../../fonts/Prisma.otf");
  }
  @font-face {
    font-family: "titilium";
    src:url("../../fonts/titilium.ttf");
  }
  
  @font-face {
    font-family: "powerpuff";
    src:url("../../fonts/powerpuff girls font.ttf");
  }

h1{
    font-size:40px;
    font-family: "prismas";
    margin-left: 20px;
    color:rgba(191, 203, 255, 0.8);
}

input[type='email'],
input[type='password']{
  width: 50%;
  height: 35px;
  margin-left: 20px;
  margin-top: 30px;
  margin-top: 10px;
  font-size:20px;
  font-family: 'titilium';

}

input[type='submit']{
width: 20%;
height: 38px;
border:1px solid black;
margin-left: 20px;
background: rgba(16, 105, 187, 0.8);
font-size:15px;
font-family: 'titilium';
color:white;
font-size:20px;
text-align: center;
display: block;
margin-top:10px;

}
 a{
    color:rgba(16, 105, 187, 0.8);
}

span{
    font-weight: lighter;
    font-size:20px;
    margin-left: 20px;
    color:rgba(0, 0, 0, 0.8);
}